:root{
    --btn-number-color: lightgoldenrodyellow;
    --btn-operator-color: lightgreen;
    --btn-command-color: lightskyblue;
    --btn-equals-color: lightcoral;
}
.calculatorContainer{
    display: flex;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    padding: 25px 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 5px;
}
.item{
    font-size: 20px;
    padding: 5px;
    margin: 0px 5px;
    height: 30px;
    width: 60px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    background: white;
    align-items: center;
}
#display{
    width: 280px;
    height: 100px;
    text-align: right;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
#displayInput{
    width: 280px;
    height: 40%; 
    font-size: 20px;
    overflow: hidden;
    overflow-x: auto;
}
#displayOutput{
    width: 280px;
    height: 60%; 
    font-size: 30px;
    text-align: right;
    overflow: hidden;
    overflow-x: auto;
    -webkit-appearance: none;
    margin: 0;
}
/*NUMBERS*/
.itemNumber{
    background-color: var(--btn-number-color);
}
/*OPERATORS*/
.itemOperator{
    background-color: var(--btn-operator-color);
}
/*COMMANDS*/
.itemCommand{
    background-color: var(--btn-command-color);
}
/*EQUALS*/
#itemEquals{
    background-color: var(--btn-equals-color); 
    width: 270px;
}
#item0{
    width: 130px;
}
.btnDecimalDisabled{
    background-color: rgba(250, 250, 210, 0.5);
}
/*Hides input number elements arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
