:root{
    --btn-number-color: lightgoldenrodyellow;
    --btn-operator-color: lightgreen;
    --btn-command-color: lightcoral;
}
.calculatorContainer{
    display: flex;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    padding: 25px 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 5px;
}
.item{
    font-size: 20px;
    padding: 5px;
    margin: 0px 5px;
    height: 30px;
    width: 60px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    background: white;
    align-items: center;
}
#itemInputOutput{
    width: 100%;
    height: 80px;
    text-align: right;
    display: flex;
    flex-direction: column;
}
#itemInputOutputItem1{
    width: 100%;
    height: 40%; 
    font-size: 20px;
    /* overflow: hidden; */
    overflow-x: auto;
}
#itemInputOutputItem2{
    width: 100%;
    height: 60%; 
    font-size: 30px;
}
#item1{
    background-color: var(--btn-number-color);
}
#item2{
    background-color: var(--btn-number-color);
}
#item3{
    background-color: var(--btn-number-color);
}
#item4{
    background-color: var(--btn-number-color);
}
#item5{
    background-color: var(--btn-number-color);
}
#item6{
    background-color: var(--btn-number-color);
}
#item7{
    background-color: var(--btn-number-color);
}
#item8{
    background-color: var(--btn-number-color);
}
#item9{
    background-color: var(--btn-number-color);
}
#item0{
    background-color: var(--btn-number-color);
}
#itemAdd{
    background-color: var(--btn-operator-color);
}
#itemSubtract{
    background-color: var(--btn-operator-color);
}
#itemMultiply{
    background-color: var(--btn-operator-color);
}
#itemDivide{
    background-color: var(--btn-operator-color);
}
#itemClear{
    background-color: var(--btn-command-color);
}
#itemEquals{
    background-color: var(--btn-command-color); 
}
